body {
    font-family: Titillium Web,Helvetica,Trebuchet MS,Arial,sans-serif;
}

.container {
    box-sizing: border-box;
   
    width: 100%;
    min-height: 100vh;
}

.content-container {
    width: 60%;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.header1 {
    align-content: flex-start;
}

.header-left p:first-child {
    color: rgb(40, 171, 214);
    font-weight: 600;
}

.header-left {
    line-height: 1.2;
    margin-top: 0.4em; 
}

.header-middle {
    font-weight: 700;
    font-size: 4rem;
    align-self: flex-start;
    
}

.header-button {
    color: white;
    background-color: #00B3E5;
    border: 0;
    border-radius: 0.2rem;
    font-weight: 700;
    font-size: 0.9rem;
    padding: 0.5em 2em;
    margin-top: 0.5em;
    align-self: flex-start;
}

.header2 {
    padding-top: 1em;
    font-weight: 700;
    font-size: 1rem;
    
}
.navbar {
    
    display: grid;
    grid-template-columns: repeat(13, auto);
    grid-gap: 1em;
    
}

.navbar > * {
    display: inline;
}

.navbutton {
    font-size: 1rem;
    font-weight: 700;
    border: 0;
    background-color: white;
}

.border-line {
    border-bottom: 1px solid rgb(124, 122, 122);
    padding-top: 0.5em;
}



.content-grid {
    display: grid;
    grid-template-columns: 7fr 3fr;
    margin-top: 2em;
}

.left-content {
    grid-column-start: 1;
}

.caption {
    font-size: 0.7rem;
    font-weight: 600;
    padding-bottom: 1.4em;
}

.left-content p {
    line-height: 1.4;
    padding: 0.6em 0;
}

.left-content blockquote {
    background-color:rgb(247, 241, 241);
    font-weight: 600;
    padding: 0.8em;
    font-size: 0.9rem;
    margin: 1.4em 0;
}

.content-grid h1 {
    font-weight: 700;
    font-size: 2.8rem;
    margin-bottom: 0.5em;
}

.social-media {
    
    display: flex;
    justify-content: flex-start;
}

.social-media li {
    display:inline-block;
    background: #f00;
    margin-right: 0.7em;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    text-align: center; 
}

.social-media li a {
    color: #fff;
    
}

.social-media li a i {
    line-height: 40px;
}

.social-media li:nth-child(1) {
    background: #1877F2;
}

.social-media li:nth-child(2) {
    background: #1DA1F2;
}

.social-media li:nth-child(3) {
    background: #25D366;
}

.social-media li:nth-child(4) {
    background: #0A66C2;
}

.social-media li:nth-child(5) {
    background: #FF5700;
}

.social-media li:nth-child(6) {
    background: rgb(189, 186, 186);
}

.social-media li:nth-child(7) {
    background: rgb(189, 186, 186);
}

.topicbuttons {
    border: 0;
    border-radius: 4px;
    color:white;
    background-color: rgb(38, 3, 121);
    font-weight: 600;
    padding: 0.5em;
    margin-right: 0.8em;
}

.sponsored-content {
    display: flex;
    flex-direction: column;
    background-color:rgb(244, 245, 247);
    margin-top: 2em;
}

.sponsored-content h2:first-child {
    background-color:#00B3E5;
    color: white;
    font-weight: 700;
    font-size: 1.1rem;
    padding: 0.5em 0.2em;
}

.sponsor-info {
    padding: 1em 0.6em;
}

.sponsor-info h2 {
    font-weight: 700;
    font-size: 1.4rem;
}

.sponsor-img {
    width: 290px;
    float: left;
    padding-right: 1em;
}

.bottom-section {
    display: flex;
    justify-content: space-between;
    margin-top: 3.5em;
}

.small {
    margin-top: 0;
}

.bot-buttons {
    display: flex;
    
}

.flex {
    display: flex;
    flex-direction: column;
}

.bot-button {
    color: white;
    font-weight: 700;
    font-size: 1.1rem;
    padding: 0.5em 1.3em; 
    margin-bottom: 0.5em;
    margin-left: 0.8em;
    background-color: black;
    border: 0; 
    border-radius: 3px;
}

.bot-1 {
    background-color: #00B3E5;
}

.bot-2 {
    background-color: #20B2AA;
}

.bot-3 {
    background-color: #FF0000;
}

.right-content {
    display: grid;
    grid-gap: 0.2em; 
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: min-content;

}

.sidebar {
    background-color:rgb(228, 228, 228);
}

.sidebar2 {
    grid-column: 1 / -1;
}

.article-grid {
    margin-top: 2em;
    grid-column: 1 / -1;
}

.article-grid h2 {
    font-weight: 500;
    padding: 1em 0;
    font-size: 1.4rem;
}

.articles {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.articles img {
    width: 250px;
}

.articles div {
   
    width: 250px;
}

.articles div h3 {
    font-weight: 600;
    padding: 0.5em 0;
    font-size: 1.1rem;
}

.footer {
    background-color: rgb(228, 228, 228);
    margin-top: 4em;
}

.footer .content-container h2 {
    font-weight: 700;
    font-size: 1.3rem;
    padding: 1.2em 0 1rem 0;
}

.footer .content-container p {
    display: inline;
}

.footer .content-container input {
    margin: 0 0.5em;
    border: 0;
    border-bottom: 2px solid black;
    background-color: inherit;
    width: 20em;
    font-size: 1.1rem;
}

.footer .content-container button {
    border: 0;
    color: white;
    background-color:rgb(40, 171, 214);
    font-weight: 700;
    font-size: 1.2rem;
    border-radius: 4px;
    padding: 0.2em 4em;
}

.footer-bar {
    display: flex;
    justify-content: center;
    
}

.footer-bar li {
    padding-right: 0.5em;
    border-right: 1px solid rgb(31, 29, 29);
    margin-right: 0.5em;
}

.footer-bar .last {
    border-right: 0;
}

.bar1 {
    padding-top: 2em;
    padding-bottom: 0.5em;
}

.bar2 {
    padding-top: 1em;
}

.bar3 {
    padding-top: 1.4em;
    padding-bottom: 4em;
}